# -----------  Agents  -----------
[[agents]]
id = "test_agent1"
name = "Agent 1"
public_address = "HcSCiH48BaDmgheazcQ5SKkbCCRfsrnpoMTMDFJh4BxyewhhIGgaxqB3Ior3pir"
keystore_file = "conductor/agent1.keystore"

# -----------  DNA  -----------
[[dnas]]
id = "coolcats_dna"
file = "dna-src/dist/coolcats.dna.json"

[[instances]]
id = "coolcats_instance1"
agent = "test_agent1"
dna = "coolcats_dna"
[instances.storage]
type = "memory"

[[interfaces]]
id = "websocket_interface1"
[interfaces.driver]
type = "websocket"
port = 8888
[[interfaces.instances]]
id = "coolcats_instance1"

# -----------  UI  -----------
[[ui_bundles]]
id = "coolcats2_ui"
root_dir = "ui-src/target/deploy"

[[ui_interfaces]]
id = "ui-interface1"
bundle = "coolcats2_ui"
port = 8000
dna_interface = "websocket_interface1"

[network]
n3h_persistence_path = "/tmp/n3h/1"
bootstrap_nodes = []

[logger]
type = "simple"
